 /* ------ CSS RESET ------ */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
  }

/* ------ MAIN STYLING ------ */

body {
    width: 75%;
    max-width: 90%;
    margin: auto;
    background: #fafafa;
    color: #333333;
    font-family: 'Crimson Text', sans-serif;
}

/*----------- TYPOGRAPHY ------------*/


h1, h2, h3, h4 {      
    font-family: 'Oswald',serif;
    font-weight: normal;
    color: #ff0066;
    text-align: center;
    
}

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
   
}

h1 {
    padding-top: 900px;
    font-size: 4.999em;
    margin-top: 1em;
    margin-bottom: 1em; 
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5)}
}


blockquote { 
    hanging-punctuation: first;
    text-indent: -0.5em
}

header h2 {
    font-size: 2.35em;
    margin-top: 0.1em;
    margin-bottom: 2em;
    color: #333
}


/*------------ PAULA SCHER NAVIGATION --------------*/
.static{
    position: absolute;
    left: 0
}

.who-img{
    position: absolute;
    top: 290px;
    left: 800px;
    transform: rotate(-33deg)
}

.who-img a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.25)
}	

.early-years-img{
    position: absolute;
    top: 235px;
    left: 800px;
    transform: rotate(-24deg)
}

.early-years-img a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.1)
}	

.pentagram-img{
    position: absolute;
    top: 350px;
    left: 1080px;
    transform: rotate(-11.5deg)
}

.pentagram-img a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.15)
}	

.the-public-img{
    position: absolute;
    top: 555px;
    left: 755px;
    transform: rotate(22deg)
}

.the-public-img a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.1)
}	

.change-in-design-img{
    position: absolute;
    top: 690px;
    left: 835px;
    transform: rotate(26deg)
}

.change-in-design-img a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.15)
}	

.ny-beaches-img{
    position: absolute;
    top: 460px;
    left: 135px;
    transform: rotate(-26deg)
}

.ny-beaches-img a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.1)
}	

.conclusion-img{
    position: absolute;
    top: 620px;
    left: 182px;
    transform: rotate(-26deg)
}

.conclusion-img a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.15)
}	



/*--------IMAGES----------*/

* {
  box-sizing: border-box;
}

.column {
  float: left;
height: 33.3%;
  width: 33.33%;
  padding: 3px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*--------BLOCKQUOTE----------*/

blockquote {
    padding: 1em 0 1em 0;
    font-size: 1.75em;
    line-height: 1.3;
    color: #777
}

blockquote cite {
    font-size:0.75em
}

/*----------NAVIGATION-------------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
    width: 100%;
    background-color: #ff0066;
    padding: 1em 0;
    font-size: 0.75em
    
}

nav ul { 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px
}

nav ul li  {
    display: inline;
    margin: 20px
}

nav a:link {color: #0000cc}

nav a:visited {color: #fff}

nav a:hover {border-bottom: none;
color: #0000cc;
    transition: all 0.2s ease-in-out;}

h3{
    font-size: 2.7em;
    margin-bottom: 0.5em;
    
}
/*------------FOOTER------------*/

footer{
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 2em 0
}

hr{
    margin: 3em 0 4em 0;
    height: 3px;
    background-color:  #ff0066;   
    color: #ff0066;
    border: 0 none 
}

/*------------CONNECTIONS-------------*/
.connections{
    position: relative;
    margin: 0 auto;
}

.connections ul{ 
    margin: 0;
    padding:0;}

.connections li{
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.connections img{
    opacity: 0.5;
    border: none;
}

.connections a:link {
    border-bottom: none;
}

.connections a:hover img {
		opacity: 1.0;
		border-bottom: none;
		transition: all 0.3s ease-in-out; 
        transform:scale(1.3)
}	

	
